*{
    margin: 0;
    padding: 0;
}
.HomeForm{
    width: 100%;
    /* background-image: url("https://cdn.dribbble.com/uploads/39417/original/49dbf46eae15d227fc95a69cee31251e.mp4?1657824906"); */
}
.navbar{
background-color: red;
}
.Main-Div{
    width: 100%;
    margin: auto;
    justify-content: center;
}
.nav_color{
    color: royalblue;
}
.me-auto{
    width: 100%;
    justify-content: center;
    color: royalblue;
    /* border: 1px solid red; */
    
    /* text-align: center; */
}

.aboutUs ,.ContactUs{

    /* border:  1px solid red; */
    /* display:block; */
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

.about-para{

    padding: 50px;
    justify-content: center;
}

/* #background-video{ */

    /* height: 200px; */
    /* width: auto; */
    /* float: left; */
    /* top: 0; */
    /* padding: none; */
    /* position: fixed; optional depending on what you want to do in your app */
/* } */

.NavBar{
    
    border: 1px solid;
    display: block;
    text-align: center;
    /* justify-content: center; */
    margin: 10px;
    margin-top: 20px;
    width: 100%;
    /* justify-content: center; */
}
a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: 300;
    
    margin-right: 3%;
}
a:hover{
    color: #28282B;
    font-weight: 400;
}
h2{
    text-align: center;
}
form{
    width: 50%;
    margin: 2% 25%;
}
.FormBtn{
    margin: 0 40%;
}
.table{
    width: 80%;
    margin: 2% 10%;
    text-align: center;
}
.NavBtn{
    margin: 1%;
}