
.HomeForm{
    width: 100%;
}
h2{
    text-align: center;
}
form{
    width: 50%;
    margin: 2% 25%;
}
.FormBtn{
    margin: 0 40%;
}
.table{
    width: 80%;
    margin: 2% 10%;
    text-align: center;
}
.NavBtn{
    margin: 1%;
}