.login{
    margin: 20px;
    padding: 10px;
}
.formLogin{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
input{
    color: #fff;
    padding: 5px;
}
input::selection{
    background-color: #fff;
}
button{
    background-color: aqua;
    padding: 10px;
    border-radius: 30px;
}